/* Activity card styles */
.activityCard {
	background-color: #1a1a1a;
	color: #fff;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.activityCard .activityHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.activityHeader svg {
	font-size: 18px;
}

.activityCard.expanded {
	background-color: #333;
}

.activityDetails {
	font-weight: 50;
	margin-top: 10px;
	font-size: 12px;
	color: #ddd;
}

.activityDetails p:not(:last-child) {
	padding-bottom: 8px;
	border-bottom: 1px dashed #cccccc;
}

.activityDetails h3:not(:first-child) {
	margin-top: 8px;
}

h3 {
	font-weight: 300;
}

label {
	font-weight: 500;
	font-size: 1rem;
}
