.container {
	background-color: #fff4f8;
	border-radius: 8px;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task:last-child {
	margin-bottom: 0;
}

.image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
}

.text {
	flex-grow: 1;
	font-size: 1rem;
	color: #333;
}

.actions {
	display: flex;
	align-items: center;
}

.checkbox {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
	accent-color: #4caf50;
}
