* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	overflow-x: hidden; /* Elimina o scroll horizontal */
	font-family: Arial, sans-serif;
	background-color: #dadada; /* Cinza claro */
	color: #1a1a1a; /* Preto */
	display: flex;
	flex-direction: column;
}

.profileinfo {
	display: flex;
	justify-content: space-between; /* Espaça os itens entre si */
	align-items: center;
	background-color: #2d2d2d; /* Cinza escuro */
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 0 0 1rem 1rem;
	width: 100%;
	position: fixed; /* Fixa o header no topo */
	top: 0;
	z-index: 1000;
	height: 4rem; /* Altura fixa */
}

.profileimage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #f4a100; /* Laranja */
}
.logoimage {
  width: 50px;
  height: auto;
}

.profileinfo p {
	font-size: 1.5rem;
	margin-right: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profilename{
  display: flex;
  flex-direction: row;
  align-items: center;

}

/* Espaço principal (entre header e footer) */

.card {
	background-color: #ffffff;
	width: 92%; /* Largura de 92% da tela */
	max-width: 600px; /* Opcional: limite para telas maiores */
	height: calc(100vh - 9rem); /* Altura dinâmica entre header e footer */
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto; /* Permite rolagem vertical no conteúdo */
	margin: 4.5rem auto; /* Espaçamento superior e inferior */
	position: relative; /* Remove centralização fixa para rolagem funcionar */
}

/* Footer */
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #2d2d2d; /* Cinza escuro */
	padding: 0.5rem 0;
	position: fixed; /* Fixa o footer no rodapé */
	bottom: 0;
	width: 100%;
	box-shadow: 0px -1rem 3rem rgba(0, 0, 0, 0.1);
	height: 4rem; /* Altura fixa */
	z-index: 1000;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	color: #f4a100; /* Laranja */
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
	width: 5rem;
	padding: 0.5rem;
}

.icon:hover {
	background-color: #f7931e;
	color: #ffffff;
	box-shadow: 0px 0px 10px rgba(244, 161, 0, 0.7);
	border-radius: 0.5rem;
}

.icon.active {
	background-color: #f4a100;
	color: #ffffff;
	box-shadow: 0px 0px 10px rgba(244, 161, 0, 0.7);
	border-radius: 0.5rem;
	width: 10rem;
}

li > :first-child {
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
}

/* Responsividade */
@media (max-width: 768px) {
	.profileinfo p {
		font-size: 1.25rem;
	}

	.icon {
		font-size: 0.9rem;
		width: 4rem;
	}
}
